{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Index{% endblock %}</h1>
  {% if g.user %}
  {% endif %}
{% endblock %}

{% block content %}
    {% if g.user %}
    <div><h2>Feeds</h2></div>
    {% for feed_type, feed_url in feed_types.items() %}
    <div>
        <a class="action" href="{{ url_for(feed_url) }}">
            {{ feed_type }}
        </a>
    </div>
    {% endfor %}
    <div><h2>Manage</h2></div>
    <div>
        <a class="action" href="{{ url_for('ao3.manage') }}">
            Manage AO3 Credentials
        </a>
    </div>
    <div>
        <a class="action" href="{{ url_for('feed.manage') }}">
            Manage OPDS Feeds
        </a>
    </div>
    {% else %}
    <div>
        <a class="action" href="{{ url_for('auth.login') }}">Login</a>
    </div>
    <div>
        <a class="action" href="{{ url_for('auth.register') }}">Register</a>
    </div>
    {% endif %}
{% endblock %}